.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 108vw;
  height: 100vh;
  transform: translateX(100%);
  transition: all ease-in-out 0.3s;
  backdrop-filter: blur(2px);

  &.active {
    transform: translateX(0);
  }

  .modal__container__content {
    color: #000000;
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;

    .modal__container__content__body {
      padding: 60px 115px 0px 200px;

      .modal__title__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        .modal__title {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 140%;
          color: #15151A;
        }

        .modal__img {
          cursor: pointer;
        }
      }

      .modal__input__container {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 32px;

        .modal__first__input__container {
          display: flex;
          flex-direction: column;

          .modal__first__input {
            width: 312px;
            margin-top: 3px;
            padding: 3px;
            background: transparent;
            border: none;
            border-bottom: 1px solid #9E9EA8;
            outline: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.5px;
            color: #000000;
          }

          label {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #8A8E9A;
            margin-right: 4px;
          }

          .modal__first__input:focus {
            border-bottom: 2px solid #458CF5;
          }

          .modal__first__input::placeholder {
            color: #E0E0E0;
          }
        }

        .modal__second__input__container {
          display: flex;
          justify-content: space-between;
          width: 318px;
          margin-top: 24px;

          .second__input {
            display: flex;
            flex-direction: column;

            input {
              width: 145px;
              margin-top: 3px;
              padding: 3px;
              background: transparent;
              border: none;
              border-bottom: 1px solid #9E9EA8;
              outline: none;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0.5px;
              color: #000000;
            }

            label {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              color: #8A8E9A;
              margin-right: 4px;
            }

            input:focus {
              border-bottom: 2px solid #458CF5;
            }

            input::placeholder {
              color: #E0E0E0;
            }
          }

          .third__input {
            display: flex;
            flex-direction: column;

            input {
              width: 145px;
              margin-top: 3px;
              padding: 3px;
              background: transparent;
              border: none;
              border-bottom: 1px solid #9E9EA8;
              outline: none;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0.5px;
              color: #000000;
            }

            label {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              color: #8A8E9A;
              margin-right: 4px;
            }

            input:focus {
              border-bottom: 2px solid #458CF5;
            }

            input::placeholder {
              color: #E0E0E0;
            }
          }
        }
      }

      .modal__paragraph {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #9E9EA8;
      }
    }
  }
}