/* Модальное окно */
#modal-block {
  background-color: #527c82;
  color: #fff;
  position: fixed;
  top: 0;
  right: -100vw;
  width: 70vw;
  height: 100vh;
  transition: all 0.5s;
  font-family: 'Raleway', sans-serif;
  z-index: 9;
}
#modal-block:target {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 0;
}
/* Заголовкии текст */
#modal-block h3 {
  font-size: 1.7em;
}

/* Кнопка закрыть */
.close-block {
  display: flex;
  position: absolute;
  top: 25%;
  right: 25%;
  padding: 0.5em;
  background-color: #fff;
  color: #527c82;
  text-decoration: none;
  font-size: 1em;
  box-sizing: border-box;
}
