.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 108vw;
  height: 100vh;
  transform: translateX(100%);
  transition: all ease-in-out 0.8s;
  backdrop-filter: blur(2px);
  z-index: 2;
  &.active {
    transform: translateX(0);
  }

  .modal__container__content {
    padding: 60px 115px 60px 160px;
    color: #000000;
    width: 30%;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.modal__header {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.modal__title {
  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.2px;
    color: #15151a;
    margin-bottom: 16px;
  }
}
.modal__exit {
  position: absolute;
  right: 0;
  top: 0;
}
.modal__subtitle p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #9e9ea8;
  margin-bottom: 32px;
}
.modal__profileWrapper {
  width: 312px;
  text-align: center;
}
.modal__profile {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 80px;
}
.profile__img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  object-fit: cover;
}
.profile__img3 {
  width: 40px;
  height: 40px;
  border-radius: 80px;
  object-fit: cover;
}
input[type='file'] {
  display: none;
}
.profileEdit__btn {
  background: #ffffff;
  border: 1px solid #dbdfeb;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  /* left: 52px; */
  left: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileEdit__plus {
  margin: auto;
  width: 18px;
  height: 18px;
}
.btn__container {
  display: flex;
  flex-direction: column;
}
.btn__changePaswword {
  width: 312px;
  height: 40px;
  background: #f2f4fa;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #15151a;
  margin-bottom: 16px;
}
.btn__finish {
  width: 312px;
  height: 40px;
  background: #458cf5;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.additional {
  width: 288px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #d1d4de;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  margin-bottom: 8px;
}
.additionalText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5d5d66;
}
