.switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 32px;
  padding: 4px 0px;
  border: none;
  background: #F4F6FC;
  border-radius: 25px;
  margin-top: 48px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;

  .switch__signin {
    padding: 14px 0px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    .paragraph {
      font-size: 12px;
    }
  }

  .switch__signup {
    padding: 14px 0px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    .paragraph {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 600px) {

  .switch {
    width: 90.9vw;
    height: 33px;
    margin-top: 20px;

    .switch__signin {
      padding: 14px 15px;
      width: 45vw;
      .paragraph{
        font-size: 14px;
      }
    }

    .switch__signup {
      padding: 14px 15px;
      width: 45vw;
      .paragraph{
        font-size: 14px;
      }
    }
  }
}
