.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 108vw;
  height: 100vh;
  transform: translateX(100%);
  transition: all ease-in-out 0.8s;
  backdrop-filter: blur(2px);
  &.active {
    transform: translateX(0);
  }

  .modal__container__content {
    padding: 30px 115px;
    color: #000000;
    width: 60%;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.modal__header__mobile{
  display: none;
}
.modal__order {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  align-items: center;
  letter-spacing: -0.2px;
  color: #000000;
}
.modal__middle {
  display: flex;
  justify-content: space-between;
}
.modal__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #151519;
  margin-bottom: 20px;
  line-height: 140%;
  letter-spacing: -0.2px;
}
.modal__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #151519;
  margin-bottom: 20px;
}
.modal__leftPart {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-right: 20px;

  .modal__title__mobile {
    display: none;
  }
}
.modal__rightPart {
  padding: 20px;
  background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}
.information__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #5d5d66;
}
.information__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #15151a;
}
.information__address {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.2px;
  font-size: 14px;
  color: #15151a;
}
.information__wrapper {
  margin-bottom: 10px;
}
.modal__qr {
  align-items: center;
  text-align: center;
  padding: 23px 18px 14px 16px;
  margin-bottom: 10px;
}
.qr__title {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #151519;
}
.link {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #f2f2f5;
  border-radius: 6px;
  padding: 5px;
}
.modal__hr {
  border: 1px solid black;
}
.link__text {
  margin-right: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  letter-spacing: -0.2px;
  color: #15151a;
}
.link__img {
  background: #e1e1e6;
  border-radius: 3px;
  padding: 4px;
}
.modal__rightPart {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 34px;
}
.modal__title__mobile{
  display: none;
}
.modal__tracking {
  display: flex;
  flex-direction: column-reverse;
}
.modal__fromName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #15151a;
}
.information__address {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #5d5d66;
  margin-bottom: 20px;
}
.ellipse {
  position: absolute;
  right: 59%;
  top: 14%;
  width: 24px;
  height: 24px;
}
.noColorEllipse {
  position: absolute;
  right: 59%;
  top: 15%;
  width: 24px;
  height: 24px;
}
.modal__trackingFinish {
  display: flex;
  position: relative;
}
.dashedLine {
  content: ' ';
  position: absolute;
  display: block;
  top: 36px;
  left: 38%;
  height: 46%;
  border: 1px dashed #a0a0a0;
}
.modal__endImg {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .modal__container {
    position: fixed;
    width: 166vw;
    height: 100vh;
    z-index: 1;
    .modal__container__content {
      padding: 0;
      overflow-y: auto;

      .modal__header{
        display: none;
      }

      .modal__header__mobile{
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        margin-top: 25px;

        .modal__exit__mobile {
          display: flex;
          align-items: flex-start;
          margin-left: 25px;
        }

        .modal__order__mobile {
          display: flex;
          align-items: center;
          margin: 0 auto;
          font-size: 17px;
          font-weight: bold;
        }
      }
      
      .modal__middle {
        display: flex;
        flex-direction: column-reverse;
        
        .modal__leftPart {
          border: none;
          margin-right: 0;
          padding: 0;
          border-bottom: 1px solid #ebebeb;
          .modal__title {
            display: none;
            margin: 0;
            padding-bottom: 20px;
          }
          .modal__title__mobile {
            display: block;
            margin: 0;
            padding: 20px 25px 20px 25px;
            border-bottom: 1px solid #ebebeb;
          }
          .modal__subtitle{
            margin-top: 20px;
          }
        }
        .modal__rightPart{
          border: none;
          padding-bottom: 0;
          border-bottom: 1px solid #ebebeb;
          border-radius: 0;

          .modal__title {
            display: none;
          }

          .modal__title__mobile {
            display: block;
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}
