.address__page__container {
  display: flex;
  flex-direction: column;

  .address__title__container {

    .address__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: #15151A;
    }
  }

  .address__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;

    .address__paragraph__container {
      margin-top: 24px;

      .address__paragraph {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #9E9EA8;
        text-align: center;
      }
    }

    .address__btn__container {
      width: 206px;
      height: 118px;
      margin-top: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      color: #CACFE0;
      border: dashed 2px #CACFE0;
      cursor: pointer;

      .address__btn__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  .address__list__container {
    display: flex;
    justify-content: start;
    flex-direction: column;

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #9E9EA8;
      margin-top: 16px;
      margin-bottom: 25px;
    }

    .address__list {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;

      .address__btn__container {
        width: 206px;
        height: 118px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: #CACFE0;
        border: dashed 2px #CACFE0;
        cursor: pointer;
        margin-top: 5px;

        .address__btn__text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }

  .address__list__container {
    display: flex;
    justify-content: start;
    flex-direction: column;

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #9E9EA8;
      margin-top: 16px;
      margin-bottom: 25px;
    }

    .address__list {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;

      .address__btn__container {
        width: 206px;
        height: 118px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: #CACFE0;
        border: dashed 2px #CACFE0;
        cursor: pointer;
        margin-top: 5px;

        .address__btn__text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .address__page__container {
    .address__title__container{
      margin-left: 21px;
      
      .address__title{
        font-size: 24px;
        font-weight: 700;
      }
    }
    .address__body{
      margin-top: 40px;
    }

    .address__list__container {
      .address__list {
        .address__btn__container {
          width: 41vw;
          height: calc(200px / 2);
        }
      }
    }
  }
}