.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 108vw;
  height: 100vh;
  transform: translateX(100%);
  transition: all ease-in-out 0.3s;
  backdrop-filter: blur(2px);

  &.active {
    transform: translateX(0);
  }

  .modal__container__content {
    color: #000000;
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;

    .modal__container__content__body {
      padding: 60px 115px 0px 200px;

      .modal__title__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        .modal__title {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 140%;
          color: #15151A;
        }

        .modal__img {
          cursor: pointer;
        }
      }
           
      .modal__title__container__mobile{
        display: none;
      }

      .switch{
        display: flex;
        align-items: center;
        width: 330px;
        height: 36px;
        background: #F7F7F7;
        border-radius: 20px;
        margin-top: 36px;
        padding: 3px 0;

        .switch__delivery{
          width: 165px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          background: #ffffff;
          color: #ffffff;
          cursor: pointer;
        }

        .switch__post{
          width: 165px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          background: #458CF5;
          font-size: 14px;
          font-weight: 400;
          padding: 3px 0;
          color: #ffffff;
          cursor: pointer;
        }

        .switch__delivery__two{
          width: 165px;
          height: 36px;
          display: flex;
          align-items: center;
          border-radius: 20px;
          cursor: pointer;
          background: #ffffff;
          color: #ffffff;
        }

        .switch__post__two{
          width: 165px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          cursor: pointer;
          background: #F7F7F7;
          font-size: 14px;
          font-weight: 500;
          color: #9E9EA8;
        }
      }

      .modal__paragraph__container{
        margin-top: 35px;

        .modal__paragraph {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 140%;
          color: #9E9EA8;
        }
      }

      .addresses__input__container {
        margin-top: 40px;

        .addresses__input__box {
          margin-top: 15px;
          font-size: 18px;
          font-weight: 500;
        }

        .addresses__input {
          font-family: 'Inter';
          background: transparent;
          border: none;
          border-bottom: 1px solid #9E9EA8;
          width: 305px;
          margin-bottom: 1.5rem;
          padding: 3px;
          color: #000;
          outline: none;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        }

        .home__office {
          display: flex;
          margin-top: 15px;
          font-size: 18px;
          font-weight: 500;

          .addresses__home {
            font-family: 'Inter';
            background: transparent;
            border: none;
            border-bottom: 1px solid #9E9EA8;
            width: 146px;
            margin-bottom: 1.5rem;
            margin-right: 6px;
            font-size: 16px;
            padding: 3px;
            color: #000;
            font-weight: 600;
            line-height: 22.5px;
            outline: none;
          }

          .addresses__office {
            background: transparent;
            border: none;
            border-bottom: 1px solid #9E9EA8;
            width: 146px;
            margin-bottom: 1.5rem;
            font-size: 16px;
            padding: 3px;
            color: #000;
            font-weight: 600;
            line-height: 22.5px;
            outline: none;
          }
        }

      }

      .btnBlue {
        width: 312px;
        height: 40px;
        margin-top: 5px;
        background: #458CF5;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
      }

      .btnGray {
        width: 312px;
        height: 40px;
        margin-top: 5px;
        background: #F7F7F7;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #9E9EA8;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .modal__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    transition: all ease-in-out 0.3s;
    backdrop-filter: blur(2px);
    z-index: 1;
  
      &.active {
        transform: translateX(0);
      }
  
      .modal__container__content {
        color: #000000;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
  
  
        .modal__container__content__body {
          padding: 25px;
  
          .modal__title__container {
              display: none;
            }
          
          .modal__title__container__mobile {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: start;
          
            .modal__title {
              font-size: 23px;
              font-weight: 600;
              font-size: 25px;
            }
          
            .modal__img {
              margin-right: 34px;
              height: 34px;
              width: 34px;
            }
          }
  
          .modal__paragraph {
            margin: 30px 0 20px 0;
          }
  
          .modal__input__container {
            .modal__first__input__container {
              margin-bottom: 30px;
            }
          }
        }

        .btn__container{
          width: 100vw;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;

          .btnBlue {
            width: 100vw;
            border-radius: 0px;
            margin-top: 0px;
            height: 50px;
          }
          
          .btnGray {
            width: 100vw;
            border-radius: 0px;
            margin-top: 0px;
            height: 50px;
          }
        }
      }
    }
}