.step1_container {

  .title_step1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 45px;
    line-height: 24px;
  }
}

.step2_container {

  .title_step2 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 45px;
    line-height: 24px;
  }
}

.warning_step2 {
  color: #FF0000;
  font-size: 12px;
}

.step3_container {
  .title_step3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

.paragraph_step3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #7E7E7E;
  margin: 30px 0px;
}

.step4_container {
  display: flex;
  flex-direction: column;

  .title_step4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 40px;
  }
}

.btn__first {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 7px;
  background: transparent;
  border: none;
}

.btn__second {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 60px;
  background: transparent;
  border: none;
}

.password__container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.step5_container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  .step5__title {
    margin-left: 32px;
    color: #000000;
    font-size: 20px;

    .step5__name {
      font-weight: bold;
    }
  }

  .step5__img {
    display: flex;
    justify-content: flex-end;
  }

  .step5__points {
    display: flex;
    justify-content: center;
    margin-top: 7px;

    .span__one {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #458BF5;
      border-radius: 50%;
      display: inline-block;
    }

    .span__two {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #D7D7D7;
      border-radius: 50%;
      display: inline-block;
    }

    .span__three {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #D7D7D7;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.step6_container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  .step6__title {
    margin-left: 32px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;

    .step6__name {
      font-weight: bold;
    }
  }

  .step6__paragraph {
    margin-top: 64px;
    margin-left: 32px;
    top: 60px;
    font-weight: 400;
    font-size: 14px;
    color: #7C818B
  }

  .step6__img {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
  }

  .step6__points {
    display: flex;
    justify-content: center;
    margin-top: 7px;

    .span__one {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #D7D7D7;
      border-radius: 50%;
      display: inline-block;
    }

    .span__two {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #458BF5;
      border-radius: 50%;
      display: inline-block;
    }

    .span__three {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #D7D7D7;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.step7_container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  .step7__title {
    margin-left: 32px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    position: absolute;

    .step7__name {
      font-weight: bold;
    }
  }

  .step7__img {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
  }

  .step7__points {
    display: flex;
    justify-content: center;
    margin-top: 7px;

    .span__one {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #D7D7D7;
      border-radius: 50%;
      display: inline-block;
    }

    .span__two {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #D7D7D7;
      border-radius: 50%;
      display: inline-block;
    }

    .span__three {
      height: 6px;
      width: 6px;
      margin-right: 7px;
      background-color: #458BF5;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 600px) {
  .step1_container {
    .title_step1{
      font-size: 29px;
      line-height: 1.2;
      margin-bottom: 100px;
    }

    input {
      width: 88vw;
      font-size: 19px;
      font-weight: 600;
    }
  }

  .step2_container {
    .title_step2 {
      font-size: 29px;
      line-height: 1.2;
    }

    input {
      width: 90vw;
      font-size: 19px;
      font-weight: 600;
    }
  }

  .step3_container {
    .title_step3 {
      font-size: 29px;
      line-height: 1.2;
    }

    .paragraph_step3 {
      line-height: 1.6;
      margin-bottom: 50px;
    }

    input {
      width: 90vw;
      font-size: 19px;
      font-weight: 600;
    }
  }

  .step4_container {
    margin-top: 35px;

    .title_step4 {
      font-size: 29px;
      line-height: 1.2;
      margin-bottom: 100px;
    }

    .separator{
      margin: 18px 0;
    }

    .password__container{

      input {
        width: 90vw;
        font-size: 19px;
        font-weight: 600;
      }
    }
  }

  .btn__first {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7px;
    background: transparent;
    border: none;
  }

  .btn__second {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 97px;
    background: transparent;
    border: none;
  }
}