.btnBlue {
  width: 410px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 8px 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  background-color: #458bf5;
  color: #ffffff;
}
.btnGrey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 410px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 8px 10px;
  background-color: grey;
  color: #ffffff;
}
.btnBlueGrey {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4fa;
  padding: 8px 10px;
  color: #15151a;
  width: 312px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  margin-bottom: 16px;
}
.btnBlueEdit {
  width: 312px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 8px 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  background-color: #458bf5;
  color: #ffffff;
}
.btnGreyImg {
  margin-left: 3px;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.btnNoColor {
  width: 410px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 8px 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9b9b9b;
  background-color: transparent;
}
.btn {
  margin-top: 9px;
}

@media only screen and (max-width: 600px) {
  .btnBlue {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
    width: 100vw;
    height: 8vh;
    border-radius: 0px;
  }
  .btnNoColor {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    background: #ffffff;
    width: 100vw;
    height: 8vh;
    margin: 0;
    border-radius: 0px;
  }
}
