.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  flex-direction: column;

  .subform{
    margin-top: 35px;

    .title {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 45px;
    }

    .btn {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 7px;
      background: transparent;
      border: none;
    }

    .password__container {
      display: flex;
      position: relative;
    }
  }
  .btn__container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
}
