.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  flex-direction: column;

  .subform{
    margin-top: 35px;

    .title {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 45px;
    }

    .btn {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 7px;
      background: transparent;
      border: none;
    }

    .password__container {
      display: flex;
      position: relative;
    }
  }
  .btn__container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
}

@media screen and (max-width: 600px) {
  .form {
    height: 100vh;

    .subform {

      .title{
        font-family: 'Inter', sans-serif;
        font-size: 28px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 60px;
      }

      input {
        width: 90vw;
        font-size: 19px;
        font-weight: 600;
      }

      .password__container{
        margin-top: 30px;

        input {
          width: 90vw;
          font-size: 19px;
          font-weight: 600;
        }
      }      
    }

    .btn__container {
      display: flex;
      flex-direction: column-reverse;
      align-items: end;
      margin-top: 0;
    }
  }
}
