.sidebar {
  padding: 16px 16px 16px 0;
  width: 336px;
  min-height: 610px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-right: 16px;
}
.sidebar__buton {
  position: relative;
  display: flex;
  justify-content: end;
}
.edit {
  border: 1px solid #dbdfeb;
  border-radius: 8px;
  padding: 7px;
  background: #ffffff;
  top: 16px;
  left: 16px;
}
.sidebar__profile {
  margin: auto;
  position: relative;
  text-align: center;
}
.profile__image {
  margin-bottom: 12px;
  padding: 24px;
  background-repeat: no-repeat;
  background-position-x: center;
  vertical-align: middle;
}
.profile__image2 {
  background-repeat: no-repeat;
  background-position: center;
}
.profile__name {
  margin-bottom: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #15151a;
}
.services__content {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 30px;
  cursor: pointer;
  &.active {
    border-left: 4px solid #387fea;
    padding-left: 26px;
  }
}
.services__icon {
  margin-right: 12px;
}
.questions__content {
  display: flex;
}
.services__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #9e9ea8;
}
.shop__questions__container {
  margin-top: 210px;
}
.shop {
  margin-bottom: 12px;
  margin-left: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #4b4b59;
  background: #f4f6fc;
  border-radius: 8px;
  background-position: right top;
  background-repeat: no-repeat;
}
.shop__text {
  padding: 18px 123px 18px 16px;
}
.questions {
  padding: 12px 16px 12px 0px;
  margin-left: 16px;
  border: 1px solid #dbdfeb;
  border-radius: 8px;
}

.questions__content {
  justify-content: center;
  align-items: center;
}
.questions__icon {
  margin-right: 12px;
}
.questions__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #15151a;
}
.questions__subtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #9e9ea8;
}


@media only screen and (max-width: 600px) { 
  .sidebar{
    display: none;
  }
}