.order {
  width: 688px;
  padding-top: 24px;
  padding-right: 18px;
  padding-left: 24px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 32px;
}
.order__item {
  display: flex;
  justify-content: space-between;
}
.order__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.order__btn {
  display: flex;
}
.order__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #15151a;
}
.status__Btn1 {
  display: flex;
  border-radius: 16px;
  border-color: transparent;
  padding: 8px 10px;
  align-items: center;
  margin-right: 5px;
}
.status__Btn2 {
  display: flex;
  border-radius: 20px;
  border-color: transparent;
  padding: 8px 10px;
  align-items: center;
}
.status__text {
  margin-right: 5px;
}
.status__number1 {
  border-radius: 8px;
  padding: 3px 5px;
}
.status__number2 {
  border-radius: 8px;
  padding: 3px 5px;
}
.item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item__description {
  display: flex;
}
.item__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #15151a;
}
.item__details {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #9e9ea8;
}
.item__img {
  margin-right: 10px;
}
.item__delivery {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #7b7b84;
  margin-right: 10px;
}
.item__deliveryIcon {
  margin-right: 16px;
}
.item__price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.2px;
  color: #15151a;
  margin-right: 16px;
}

.switch {
  display: none;
}

@media only screen and (max-width: 600px) {
  .order__header{
    display: none;
  }

  .switch {
    display: flex;
    align-items: center;
    width: 330px;
    height: 36px;
    background: #F7F7F7;
    border-radius: 20px;
    margin-top: 36px;
    padding: 3px 0;
  
    .switch__delivery {
      width: 165px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: #ffffff;
      color: #ffffff;
      cursor: pointer;

      p {
        display: flex;
        align-items: center;

        .current {
          padding: 5px 9px;
          border-radius: 50%;
          background-color: #ffffff;
          color:#458CF5;
          margin-left: 6px;
        }
      }
    }
  
    .switch__post {
      width: 165px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: #458CF5;
      font-size: 14px;
      font-weight: 400;
      padding: 3px 0;
      color: #ffffff;
      cursor: pointer;

      .finished {
          padding: 5px 9px;
          border-radius: 50%;
          background-color: #ffffff;
          color: #458CF5;
          margin-left: 6px;
        }
    }
  
    .switch__delivery__two {
      width: 165px;
      height: 36px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      cursor: pointer;
      background: #F7F7F7;
      color: #ffffff;

      p {
        margin: 0 auto;
        color: #9E9EA8;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        display: flex;
      }
    }
  }
}
