.header {
  display: flex;
  justify-content: flex-end;
  padding-top: 26px;
  position: relative;
  align-items: center;

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: auto;
  }

  .header__exit {
    display: flex;
    position: absolute;

    .exit__btn__mobile{
      display: none;
    }

    .exit__btn {
      display: flex;
      align-items: center;
      padding: 8px 20px 8px 16px;
      background: #ffffff;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
      border: none;
    }
    .exit__img {
      margin-right: 8px;
    }
    .exit__text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }
  }

  .header__back {
    width: 255px;
    display: flex;
    position: absolute;

    .back__btn {
      display: flex;
      align-items: center;
      padding: 6px 14px 6px 14px;
      background: transparent;
      border-radius: 4px;
      border: 1px solid #a8b3c640;

      .back__img {
        margin-right: 8px;
        color: #9e9ea8;
      }
      .back__text {
        font-family: 'Inter';
        font-style: normal;
        line-height: 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        color: #9e9ea8;
      }
    }
  }
  margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
  .header__exit {
    .exit__btn {
      display: none;
    }

    .exit__btn__mobile{
      display: block;
    }
  }
}
