.modal__header {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.modal__title {
  // display: flex;
  // justify-content: space-between;
  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.2px;
    color: #15151a;
    margin-bottom: 16px;
  }
}
.modal__exit {
  position: absolute;
  right: 0;
}
.modal__subtitle p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #9e9ea8;
  margin-bottom: 32px;
}
.btn__first {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 7px;
  background: transparent;
  border: none;
}

.btn__second {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 60px;
  background: transparent;
  border: none;
}

.password__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 312px;
}

.btn__finish {
  width: 312px;
  height: 40px;
  background: #458cf5;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
