.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 108vw;
  height: 100vh;
  transform: translateX(100%);
  transition: all ease-in-out 0.8s;
  backdrop-filter: blur(2px);
  z-index: 2;
  &.active {
    transform: translateX(0);
  }
  &__content {
    padding: 60px 115px 60px 160px;
    color: #000000;
    width: 30%;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__header {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  &__title {
    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: -0.2px;
      color: #15151a;
      margin-bottom: 16px;
    }
  }
  &__exit {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__subtitle p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #9e9ea8;
    margin-bottom: 40px;
  }
}
.btn__finish {
  width: 312px;
  height: 40px;
  background: #458cf5;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.support {
  width: 272px;
  height: 82px;
  padding: 0px 20px 0px 20px;
  background: #4fce5d;
  border-radius: 4px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  &__whatsapp {
    margin-right: 12px;
  }
  &__content {
    padding: 0px 20px 0px 20px;
    width: 169px;
    height: 38px;
    margin-right: 25px;
  }
  &__text {
    width: 312px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #d1d4de;
    margin-bottom: 24px;
  }
  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #ffffff;
  }
  &__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
  }
}
.support__text:before,
.support__text:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 24%;
  vertical-align: middle;
  background-clip: content-box;
  border: 1px solid #d1d4de;
}
.support__text:before {
  left: -0.5em;
  margin: 0 0 0 -50%;
}
.support__text:after {
  left: 0.5em;
  margin: 0 -50% 0 0;
}
