.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .subform {
    margin-top: 45px;
  }

  .btn__container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
}
