.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .subform {
    margin-top: 45px;
  }

  .btn__container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
}

.finish__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn__container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }

}

@media screen and (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .subform {
      margin-top: 45px;
    }

    .btn__container{
      display: flex;
      flex-direction: column-reverse;
      align-items: end;
      margin-top: 0;
    }
  }
}