.noOrderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noOrderText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #9e9ea8;
}
