.additionalInfo__address {
  padding-top: 16px;
  padding-bottom: 16px;
}
hr {
  background: #9e9ea8;
  opacity: 0.1;
  margin: 0;
}

.additionalInfo__addressWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  p {
    color: #9e9ea8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
}
.additionalInfo__tab {
  display: flex;
  margin-top: 8px;
  gap: 8px;
  margin-bottom: 16px;
}
.additionalInfo__tab__mobile{
  display: none;
}
.tab {
  &__img {
    margin-right: 8px;
  }
  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdfeb;
    border-radius: 8px;
    padding: 6px 14px 6px 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}
.additionalInfo__items {
  padding-top: 16px;
  padding-bottom: 16px;
}
.additionalInfo__delivery {
  padding-top: 16px;
  padding-bottom: 16px;
}

.additionalInfo__itemsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.additionalInfo__leftSide {
  display: flex;
  align-items: center;
}
.additionalInfo__img {
  margin-right: 16px;
}
.items__price {
  float: right;
  color: #15151a;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
.items__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #15151a;
  margin-bottom: 6px;
}
.items__count {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #9e9ea8;
}


@media only screen and (max-width: 600px) {
  .additionalInfo {
    background-color: #F6F7FD;
    
    .additionalInfo__tab {
      display: none;
    }
    
    .additionalInfo__tab__mobile {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 25px;

      .tab__btn {
        padding: 10px;
        margin-left: 7px;

        .tab__img{
          margin: 0;
        }
      }
    }

    .additionalInfo__address {
      padding: 10px 20px;
    }

    .additionalInfo__delivery {
      .additionalInfo__itemsWrapper {
        padding: 0 20px;

        .additionalInfo__leftSide {
          .additionalInfo__img {
            width: 50px;
            margin-right: 8px;
          }
          .items__content {
            width: 170px;

            .items__name {
              font-size: 12px;
            }
            .items__count {
              font-size: 12px;
            }
          }
        }
        .items__price {
          font-size: 12px;
        }
      }
    }
  }
}